%h2 Hey, here's what we know about your account
%hr
%h3 Cards Setup
- unless session.user.credit_cards.empty?
  %table
    %thead
      %tr
        %th Name
        %th Address
        %th Number
        %th Show
    %tbody
      - session.user.credit_cards.each do |cc|
        %tr
          %td= cc.info.name
          %td= cc.info.address
          %td= cc.info.cc_number
          %td= link_to('More Info', url(:credit_card, cc))
  %a{:href => url(:new_credit_card)} Add another?
- else
  %p 
    You don't have anything on file currently.
    %a{:href => url(:new_credit_card)} Add one now?
%hr
