= form :action => BRAINTREE[:transact_api_url], :id => 'new_vault_form' do
  %fieldset
    %legend Add the necessary billing info below
    = partial "form"
    %input{:type => 'submit', :name => 'submit', :value => 'Submit'}

