%h3 This Card
%table
  %thead
    %tr
      %th Name
      %th Address
      %th Number
  %tbody
    %tr
      %td= @credit_card.card_info.name
      %td= @credit_card.card_info.address
      %td= @credit_card.card_info.cc_number
%h3 Invoices
- unless @credit_card.invoices.empty?
  %table
    %thead
      %tr
        %th Name
    %tbody
      - @credit_card.invoices.each do |invoice|
        %tr
          %td= invoice.inspect
- else
  %p No invoices on file for this billing information.
