%h2 Hey, here's what we know about your account
%hr
%h3 Cards Setup
- unless @tokens.empty?
  %table
    %thead
      %tr
        %th Name
        %th Address
        %th Number
        %th Invoices
    %tbody
      - @tokens.each do |vt|
        %tr
          %td= card_holders_name(vt.card_info)
          %td= card_billing_address(vt.card_info)
          %td= vt.card_info.cc_number
          %td= link_to('More Info', url(:vault_token, vt))
  %a{:href => url(:new_vault_token)} Add another?
- else
  %p 
    You don't have anything on file currently.
    %a{:href => url(:new_vault_token)} Add one now?
%hr
