= form :action => 'https://secure.braintreepaymentgateway.com/api/transact.php' do
  = hidden_field :id => 'customer_vault', :name => 'customer_vault', :value => 'add_customer'
  <input id="key_id" type="hidden" value="776320" name="key_id"/>
  <input id="orderid" type="hidden" value="" name="orderid"/>
  <input id="amount" type="hidden" value="" name="amount"/>
  <input id="time" type="hidden" value="20080516190549" name="time"/>
  <input id="hash" type="hidden" value="c57ec5a89b9850e8b35e945465df6446" name="hash"/>
  <input id="ccnumber" type="hidden" value="4111111111111111" name="ccnumber"/>
  <input id="ccexp" type="hidden" value="1010" name="ccexp"/>
  <input id="customer_vault" type="hidden" value="add_customer" name="customer_vault"/>
  <input id="customer_vault_id" type="hidden" value="123456" name="customer_vault_id"/>
  <p><input type="submit" value="Submit" name="
