#container
  #header-container
    %img{:src => "/images/merb.jpg"}
    %h2 pocket rocket web framework
    %hr

  #left-container
    %h3>Exception:
    %p= request.exceptions.first.message

  #main-container
    %p Nothing to see here

  #footer-container
    %hr
    %div.left
    %div.right &copy; 2008 atmos
    %p &nbsp;
